body{
    background-color: rgb(251, 248, 227);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
}

h1{
    text-align: center;
    color: rgb(12, 1, 38);
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.success{
    background-color: rgb(255, 248, 200);
}

.success h1,
.success h3{
    color: #ffb33a;
}

.success p,
.success li{
    color: rgb(255, 104, 104);
}

.disaster{
    background-color: #0c0d49;
}

.disaster h1,
.disaster h3{
    color: #2d345c;
}

.disaster p,
.disaster li{
    color: #2b3c90;
}

#sopranos-link{
    color: rgb(154, 0, 0);
}

.sopranos{
    background-color: black;
}

.sopranos h1, 
.sopranos h3{
    color: rgb(154, 0, 0); 
}

.sopranos p, 
.sopranos li{
    color: grey;
    font-family:fantasy;
}