body{
    background-color: rgb(255, 248, 200);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
}
h1,
h2,
h3{
    color: #ffb33a;
}

h1{
    text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#sopranos-link{
    color: rgb(154, 0, 0);
}

.sopranos h1, .sopranos h3{
    color: rgb(154, 0, 0); 
}

.sopranos{
    background-color: black;
}

.sopranos p, .sopranos ol, .sopranos ul{
    color: grey;
    font-family:fantasy;
}